.row {
    display: flex;
    justify-content:center;
    align-items: center;
}

.col {
    width: 80px;
    height: 80px;
    margin: 1px;

    border: 1px solid rgb(22, 4, 4);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;
    overflow: hidden;
}
