body {
  /* width: 100vw;*/

 /* height: 100vh; */
  display: flex;
  flex-direction: column;
/*  justify-content: center; */
  align-items: center;

  background-color:  rgba(212, 199, 176);
}

header, main, footer {
  width: 800px;
  background-color: rgba(247, 247, 255);

  margin: 10px;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
  background-color: rgba(63, 66, 56);
  color: aliceblue;
  margin: 25px;
}

header > h1 {
  text-align: center;
} 

header span {
  color: rgba(255, 155, 84);
   
}

ul {
  list-style: none;
}

footer {
  padding: 0px 20px;
}

footer>ul {
  display: flex;
  justify-content: end;
}

footer li {
  margin: 10px;
}

a {
  color:  rgba(63, 66, 56);
  text-decoration: none;

  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
 }

footer a {
  display: inline-flex;
  background-color: rgba(120, 125, 107);
  color: aliceblue;

  border-radius: 10px;
  padding: 10px 20px;
}

footer a:hover {
  background-color: rgba(238, 193, 112);
}


main  li {
  border-bottom: 1px solid;
  
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 3px;

}

main li:hover {
  background-color: rgba(242, 166, 90);
}
