#mainimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainimg > img {
    width: 300px;
    height: 300px;

    border-radius: 10px;
}

#mainimg > button {
    width: 40px;
    height: 40px;
    background-color: rgba(27, 2, 2, 0.993);
    color: white;
    
    border-radius: 50%;

    display: inline-flex;
    justify-content:center;
    align-items:center;

    font-weight: 5;
    font-size: 5;

}